.itemComponent {
  display:inline-block;

  margin: auto;
  text-align: center;

  width: 400px;
  height: 600px;
  border-style: solid;
}

.itemPictureContainer {
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.itemPictureContainer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

