:root{
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow:#ffa400;
}

body{
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
  
}
.absolute {
  position: absolute;
  left: 80px;
}

.checkout {
 position: absolute;
 right: 10px;
 down: 20px
}

img {
  display: block;
  width: 100%;
  height: 200px;
}

.image-set{
        width: 100px;
        height: 80px;
        font-size: 1rem;
}

.navbar-style{
background: var(--mainBlue);
color: var(--mainWhite) !important;
font-size: 1.3rem; 
text-transform: capitalize;
}

.checkout-button{
text-transform: capitalize;
font-size: 1.4rem;
background: transparent;
border: 0.05rem solid var(--lightBlue);
color:var(--lightBlue);
border-radius: 0.5rem;
padding: 0.2rem 0.5rem;
cursor:pointer;
margin:0.2rem 0.5rem 0;
transition:all 0.5s ease-in-out;
}
.checkout-button:hover{
    background:var(--lightBlue);
    color:var(--mainBlue);
}
.checkout-button:focus {
    outline: none;}

.checkout-button-yellow{
text-transform: capitalize;
font-size: 1.4rem;
background: transparent;
border: 0.05rem solid yellow;
color:var(--mainYellow);
border-radius: 0.5rem;
padding: 0.2rem 0.5rem;
cursor:pointer;
margin:0.2rem 0.5rem 0;
transition:all 0.5s ease-in-out;
}
.checkout-button-yellow:hover{
    background:var(--mainYellow);
    color:yellow;
}
.checkout-button-yellow:focus {
    outline: none;}

/* a:hover {
    background:var(--lightBlue);
    color:var(--mainBlue);
} */
:focus {
    outline: none;
}

.text-title1{
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-title2{
font-family: 'Cabin Sketch', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-title3{
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.card{
  transition: all 1s linear
}
.card:hover{
  border:0.04rem solid rgba(0,0,0,0.2);
  box-shadow:2px 2px 5px 0px rgba(0,0,0,0.2)
}

.img-container{
  position:relative;
  overflow:hidden;
}

.img-container:hover{
  transition: all .5s linear;
  transform: scale(.9);
}




.text-blue{
  color: var(--mainBlue)
}

.text-bright{
  color: var(--lightBlue)
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.itemComponent {
  display:inline-block;

  margin: auto;
  text-align: center;

  width: 400px;
  height: 600px;
  border-style: solid;
}

.itemPictureContainer {
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.itemPictureContainer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

